* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b1bbf8;
}

header {
}

header>h1{
    display:inline-block;
}

main {
    width:75%;
    height:80vh;
    margin:5px auto;
}

.nav-task{
    border-radius: 5px 5px 0 0 ;
    height:50px;
    width: 75%;
    margin:50px auto 5px auto;

}

header, main, .nav-task{
    background-color: #fff;
}
.task{
}

li{
    list-style: none;
}

h3{
    font-size: 20px;
    color: #000;
    margin-left: 5px;
}
h3::before {
    content: '\25bc';
}
/* Tipi */
.type{
    margin-left: 5px;
    border-radius:15%;
    padding: 5px;
    font-size: 12px;
    color: white;
}
/* Colori Tipo */
.editorial{
    background-color: #45abea;
}
.q1{
    background-color: #9c72e4;
}
.recruiting{
    background-color: #64c0a9;
}
.mobile{
    background-color: #f29e33;
}
.website{
    background-color: #d863a1;
}
.sales{
    background-color: #b0c926;
}

.tasksec
}

li::before{
    content: '\2713';
    color: green;
    margin-right: 5px;
}

.cross::before{
    content: "\2717";
    color: red;
    margin-right: 5px;
}

